<div id="search_form" style="background: #f8f8f8; border: solid 1px #eee; padding: 9px; margin-bottom: 27px;">
<h3>Search Projects</h3>
<style type="text/css">
	label { float: left; width: 100px; }
	td {padding: 9px 0;}
</style>
<%= form_tag :action => :search do %>
<table cellspacing="0" width="100%">
	<tr>
		<td>
		<p><label for="name">Name</label>
			<%= text_field_tag :name, params[:name] %></p>
		<p><label for="city">City</label>
			<%= text_field_tag :city, params[:city] %></p>
		<p><label for="country">Country</label>
			<%= select_tag(:country, options_for_select(@countries, params[:country])) %></p>
		<p><label for="sending_region">Sending Region</label>
			<%= select_tag(:partnershipRegion, options_for_select(@regions, params[:partnershipRegion])) %></p>
		</td>
<td>
		<p><label for="aoa">Area</label>
			<%= select_tag(:AOA, options_for_select(@aoas, params[:AOA])) %></p>
		<p><label for="start_date">Start Date After</label>
			<%= calendar_date_select_tag :studentStartDate, params[:studentStartDate], :buttons => false %></p>
		<p><label for="end_date">End Date Before</label>
			<%= calendar_date_select_tag :studentEndDate, params[:studentEndDate], :buttons => false %></p>
		<p><label for="year">Year</label>
			<%= select_tag :siYear, options_for_select(@years_for_select, params[:siYear]) %></p>
</td>	</tr>
</table>
<p class="buttons" style="margin: 0;"><%= submit_tag "Search Projects" %></p>
<% end %>
</div>
