<div id="controls" id="app_info">
  <div id="panel">
  	<div class="panel">
  		<h2>Collated References</h2>
		<p><label class="desc">Applicant:</label> <%= @application.applicant.informal_full_name %></p>
		<p><label class="desc">Date Submitted:</label> <%= datestamp @application.submitted_at %></p>
		<p><label class="desc">Electronic Signature:</label> <%= @application.hr_si_application.electronicSignature %></p>

		<p><label class="desc">Current Mailing Address</label>
			<%= @application.applicant.current_address.address1 %><br/>
			<% unless @application.applicant.current_address.address2.blank? -%><%= @application.applicant.current_address.address2 %><br/><% end -%>
			<%= @application.applicant.current_address.city %>, <%= @application.applicant.current_address.state %> <%= @application.applicant.current_address.zip %></p>
<% unless @application.applicant.permanent_address.nil? -%>
		<p><label class="desc">Permanent Mailing Address</label>
			<%= @application.applicant.permanent_address.address1 %><br/>
			<% unless @application.applicant.permanent_address.address2.blank? -%><%= @application.applicant.permanent_address.address2 %><br/><% end -%>
			<%= @application.applicant.permanent_address.city %>, <%= @application.applicant.permanent_address.state %> <%= @application.applicant.permanent_address.zip %></p>
<% end -%>
	</div>
  </div>
</div>

<div id="preview" class="answer-page">
<h2 id='sheet-name'>Collated References</h2>

<% elements = []
   @reference_question_sheet.pages.order(:number).each do |page|
     elements << page.elements.where("#{Fe::Element.table_name}.kind not in (?)", %w(Paragraph)).all
   end
   elements = elements.flatten
   elements.reject! {|e| e.is_confidential} if @show_conf == false
   elements = Fe::QuestionSet.new(elements, @answer_sheets[0]).elements.group_by(&:page_id) -%>

<% if elements.length > 0 -%>
  
  <% elements.sort.each do |page_id, page_elements| -%>
  
    <div class="page">
      <h3><%= page_elements[0].pages.first.label %></h3>
      <ul class="questions readonly" start="<%= @question_number %>">
        
		<% page_elements.each do |element| -%>
			  <% if element.question? && element.question_grid_id.nil? -%>
				<li >
			      <label class="desc"><%= element.label %></label>
					(STAFF) <span class="answer"><%= (@staff_elements.empty? || (@staff_elements.find {|el| el.id == element.id}).response(@staff_reference).blank?) ? "No&nbsp;Answer".html_safe : (@staff_elements.find {|el| el.id == element.id}).display_response(@staff_reference) %></span><br/>
					(DISCIPLER) <span class="answer"><%= (@discipler_elements.empty? || (@discipler_elements.find {|el| el.id == element.id}).response(@discipler_reference).blank?) ? "No&nbsp;Answer".html_safe : (@discipler_elements.find {|el| el.id == element.id}).display_response(@discipler_reference) %></span><br/>
					(ROOMMATE) <span class="answer"><%= (@roommate_elements.empty? || (@roommate_elements.find {|el| el.id == element.id}).response(@roommate_reference).blank?) ? "No&nbsp;Answer".html_safe : (@roommate_elements.find {|el| el.id == element.id}).display_response(@roommate_reference) %></span><br/>
					(FRIEND) <span class="answer"><%= (@friend_elements.empty? || (@friend_elements.find {|el| el.id == element.id}).response(@friend_reference).blank?) ? "No&nbsp;Answer".html_safe : (@friend_elements.find {|el| el.id == element.id}).display_response(@friend_reference) %></span><br/>
					</li>
			  <% elsif element.kind == "QuestionGrid" %>
<li>
				<label class="desc"><%= element.label %></label>
				<table class="grid">
				<%- if element.cols -%>
				<tr>
				<%- element.cols.split(';').each do |header| -%>
					<th><%= header || '&nbsp;' %></th>
				<%- end -%>
				</tr>
				<%- end -%>
				<tr >
					<%- col_count = 0
						element.elements.each do |grid_element| -%>
					<td id="element_<%= element.id %>" style="vertical-align: top !important;">
						<% if %w(Paragraph).include?(grid_element.kind) -%>
						<%= grid_element.content %>
						<% else -%>
							(STAFF) <span class="answer"><%= Fe::Element.find(grid_element.id).response(@staff_reference).blank? ? "No Answer".html_safe : Fe::Element.find(grid_element.id).display_response(@staff_reference) %></span><br/>
							(DISCIPLER) <span class="answer"><%= Fe::Element.find(grid_element.id).response(@discipler_reference).blank? ? "No Answer".html_safe : Fe::Element.find(grid_element.id).display_response(@discipler_reference) %></span><br/>
							(ROOMMATE) <span class="answer"><%= Fe::Element.find(grid_element.id).response(@roommate_reference).blank? ? "No Answer".html_safe : Fe::Element.find(grid_element.id).display_response(@roommate_reference) %></span><br/>
							(FRIEND) <span class="answer"><%= Fe::Element.find(grid_element.id).response(@friend_reference).blank? ? "No Answer".html_safe : Fe::Element.find(grid_element.id).display_response(@friend_reference) %></span>
						<% end -%>
					</td>
					<%- 	col_count += 1
							if col_count % element.num_cols == 0 then col_count = 0 -%></tr><tr><%- end -%>
					<%-	end -%>
					<%- while col_count < element.num_cols do 
							col_count += 1-%>
							<td>&nbsp;</td>
					<%- end unless col_count == 0-%>
				</tr>
				</table>
</li>
			  <% elsif !element.question? -%>
<li>
				    <%= render :partial => 'questions/' + element.class.to_s.underscore, :object => element %>
</li>			  <% end -%>
			</li>
		<% end -%>
		
      </ul>
    </div>
    
    <br />
  
  <% end -%>

<% else -%>

    <div style="background: #ffc;">
      <p>That's odd. There are no answers to review.</p>
    </div>

<% end -%>

</div>
