		<% row_class = cycle('','alt', :name => "row_bg") %>
		<tr class="<%= row_class %>">
			<td><%= @counter += 1 %></td>
			<td><h3><b><%= app.applicant ? app.applicant.informal_full_name : "Person record doesn't exist anymore." %></b></h3></td>
			<td><%= datestamp app.created_at %><br/>
			    <%= datestamp app.submitted_at %><br/>
				<%= app.has_paid? ? "Yes" : "No"  %></td>
			<td>Staff: <% unless app.staff_reference.access_key.blank? -%><%= link_to app.staff_reference.name, edit_fe_reference_sheet_path(app.staff_reference, :a => app.staff_reference.access_key), :target => "_blank" %><% end -%><br/>
			    Discipler: <% unless app.discipler_reference.access_key.blank? -%><%= link_to app.discipler_reference.name, edit_fe_reference_sheet_path(app.discipler_reference, :a => app.discipler_reference.access_key), :target => "_blank" %><% end -%><br/>
				Roommate: <% unless app.roommate_reference.access_key.blank? -%><%= link_to app.roommate_reference.name, edit_fe_reference_sheet_path(app.roommate_reference, :a => app.roommate_reference.access_key), :target => "_blank" %><% end -%><br/>
				Friend: <% unless app.friend_reference.access_key.blank? -%><%= link_to app.friend_reference.name, edit_fe_reference_sheet_path(app.friend_reference, :a => app.friend_reference.access_key), :target => "_blank" %><% end -%></td>
			<td><%= datestamp app.staff_reference.started_at %><br/>
			    <%= datestamp app.discipler_reference.started_at %><br/>
				<%= datestamp app.roommate_reference.started_at %><br/>
				<%= datestamp app.friend_reference.started_at %></td>
			<td><%= datestamp app.staff_reference.submitted_at %><br/>
			    <%= datestamp app.discipler_reference.submitted_at %><br/>
				<%= datestamp app.roommate_reference.submitted_at %><br/>
				<%= datestamp app.friend_reference.submitted_at %></td>
			<td><%= app.applicant ? app.applicant.campus : "Person record doesn't exist anymore." %></td>
		</tr>
		<tr class="<%= row_class %>">
			<td colspan="6">Ministry Preferences: (<b>1</b>) <%= app.location_a.displayLocation unless app.location_a.blank? %>; 
			                                      (<b>2</b>) <%= app.location_b.displayLocation unless app.location_b.blank? %>; 
                                            (<b>3</b>) <%= app.location_c.displayLocation unless app.location_c.blank? %></td>
			<td>Available: <%= app.availableMonth %> / <%= app.availableYear %></td>
		</tr>
		<tr class="<%= row_class %>">
			<td colspan="7" style="border-bottom: solid 2px #ccc;" class="print-links">Print:
				<%= link_to "(<b>1</b>) Complete w/Ref".html_safe, fe_application_path(app), {:target => "_blank"} %>
				<%= link_to "(<b>2</b>) Complete No Ref".html_safe, no_ref_fe_application_path(app), {:target => "_blank"} %>
				<%= link_to "(<b>3</b>) No Confidential".html_safe, no_conf_fe_application_path(app), {:target => "_blank"} %>
				<% if app.has_references? -%><%= link_to "(<b>4</b>) Collated Refs".html_safe, collated_refs_fe_application_path(app), {:target => "_blank"} %><% else -%><%= link_to "(<b>4</b>) Collated Refs".html_safe, "#" %><% end -%>
				<% unless app.staff_reference.access_key.blank? -%><%= link_to "(<b>5a</b>) Staff Ref".html_safe, fe_application_reference_path(app, app.staff_reference.access_key), {:target => "_blank"} %><% else -%><%= link_to "(<b>5a</b>) Staff Ref".html_safe, "#" %><% end -%>
				<% unless app.discipler_reference.access_key.blank? -%><%= link_to "(<b>5b</b>) Discipler Ref".html_safe, fe_application_reference_path(app, app.discipler_reference.access_key), {:target => "_blank"} %><% else -%><%= link_to "(<b>5b</b>) Discipler Ref".html_safe, "#" %><% end -%>
				<% unless app.roommate_reference.access_key.blank? -%><%= link_to "(<b>5c</b>) Roommate Ref".html_safe, fe_application_reference_path(app, app.roommate_reference.access_key), {:target => "_blank"} %><% else -%><%= link_to "(<b>5c</b>) Roommate Ref".html_safe, "#" %><% end -%>
				<% unless app.friend_reference.access_key.blank? -%><%= link_to "(<b>5d</b>) Friend Ref".html_safe, fe_application_reference_path(app, app.friend_reference.access_key), {:target => "_blank"} %><% else -%><%= link_to "(<b>5d</b>) Friend Ref".html_safe, "#" %><% end -%>
<!--
				<%= link_to "(<b>6</b>) Evaluator's Worksheet", "/files/eval_worksheet.doc", {:target => "_blank"} %>
				<%= link_to "(<b>7</b>) Acceptance Issues", "/files/acceptance_issues.doc", {:target => "_blank"} %>
				<%= link_to "(<b>8</b>) Evaluator Summary", "/files/eval_summary.doc", {:target => "_blank"} %>
				<%= link_to "(<b>9</b>) Med Psych Form", "/files/med_psych.doc", {:target => "_blank"} %>
-->
			</td>
		</tr>
