<%= render :partial => 'panel'%>

<div id="preview" class="answer-page">
  <div id="page-preview">
  
    <div class="page">
    	<h3>STINT/Internship Project Opportunities</h3>
		
		<h4 style="font-weight: bold; font-size: 14px; border-bottom: none; margin-bottom: 9px;">National STINT/Internship Locations</h4>
		
		<table cellspacing="0" class="list" style=" margin-bottom: 18px;">
			<thead>
				<tr>
					<th>Location</th>
					<th>Dates</th>
				</tr>
			</thead>
			<tbody>
			<% @national_projects.each do |project| -%>    	
				<tr class="<%= cycle('alt','', :name => "row_class") %>">
					<td><%= link_to(project.name, hr_si_project_path(project)) %></td>
					<td><%= datestamp project.studentStartDate -%>&nbsp;-&nbsp;<%= datestamp project.studentEndDate -%></td>
				</tr>
			<% end -%>
			</tbody>
		</table>
<% reset_cycle("row_class") -%>
		<h4 style="font-weight: bold; font-size: 14px; border-bottom: none; margin-bottom: 9px;">Regionally Associated STINT Locations</h4>
		
		<table cellspacing="0" class="list" style=" margin-bottom: 18px;">
			<thead>
				<tr>
					<th>Location</th>
					<th>Dates</th>
				</tr>
			</thead>
			<tbody>
			<% @regional_stint_projects.each do |project| -%>    	
				<tr class="<%= cycle('alt','', :name => 'row_class') %>">
					<td><%= link_to(project.name, hr_si_project_path(project)) %></td>
					<td><%= datestamp project.studentStartDate -%>&nbsp;-&nbsp;<%= datestamp project.studentEndDate -%></td>
				</tr>
			<% end -%>
			</tbody>
		</table>
<% reset_cycle("row_class") -%>
		<h4 style="font-weight: bold; font-size: 14px; border-bottom: none; margin-bottom: 9px;">Regionally Associated Internship Locations</h4>
		
		<table cellspacing="0" class="list" style=" margin-bottom: 18px;">
			<thead>
				<tr>
					<th>Location</th>
					<th>Dates</th>
				</tr>
			</thead>
			<tbody>
			<% @regional_internship_projects.each do |project| -%>    	
				<tr class="<%= cycle('alt','', :name => 'row_class') %>">
					<td><%= link_to(project.name, hr_si_project_path(project)) %></td>
					<td><%= datestamp project.studentStartDate -%>&nbsp;-&nbsp;<%= datestamp project.studentEndDate -%></td>
				</tr>
			<% end -%>
			</tbody>
		</table>
	</div>
  </div>
</div>
