<%= fields_for(:sleeve_sheet, :object => edit_sheet) do |f| %>

<tr id="<%= dom_id(edit_sheet) %>" class="alt">
  <td><%= f.select :question_sheet_id, @question_sheets, {:include_blank => true}, :onchange => %{setSleeveTitle('#{dom_id(edit_sheet)}')} %></td>
  <td><%= f.text_field :title, :class => 'text' %></td>    
  <td><%= f.select :assign_to, @assignees, :include_blank => true %></td>
  <td class="actions">
    <% if edit_sheet.new_record? -%>
      <%= link_to_remote 'Add', {:url => sleeve_sheets_path(@sleeve), :method => :post, :submit => dom_id(edit_sheet)}, :class => "add-link" %>
    <% else -%>
      <%= link_to_remote 'Done', :url => sleeve_sheet_path(@sleeve, edit_sheet), :method => :put, :submit => dom_id(edit_sheet) %>
      &nbsp; &nbsp;
      <%= link_to_remote 'Cancel', :url => sleeve_sheet_path(@sleeve, edit_sheet), :method => :get %>
    <% end -%>
  </td>
</tr>

<% end -%>