<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>STINT/Internship/PTFS Application</title>
  <%= stylesheet_link_tag "print", :media => 'print' %>
  <%= stylesheet_link_tag 'base' %>

  <script type="text/javascript" charset="utf-8">
    var answer_sheet_type = '<%= @answer_sheet.class %>'
  </script>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'message_block' %>
  <script type="text/javascript" charset="utf-8">
    <%= raw Rack::TimeZone::Javascript %>
    setTimezoneCookie()
  </script>
</head>
<body>

<div id="wrapper">

   <div id="header" style="height: 72px;">
   	 <%= image_tag "cru_logo_top.jpg", :style => "padding-left: 10px; padding-top: 5px;" %>
     <h1 style="display: inline; position: absolute; color: #F3F3F3; margin: 4.5px 10px; line-height: 36px;">STINT/Internship/PTFS Application</h1>
   </div>
   
   <div id="main">
     <% if controller.controller_name == "references" && @application && @reference -%>
       <%= hidden_field_tag "submit_to", submit_application_reference_path(@application, @reference) %>
     <% end -%>
     <%= yield %>
   </div>
</div>
<div id="footerwrap">
  <div id="footer">
    <!-- anything in here my be custom branded -->
    <table>
      <tr>
        <td>
          <img src="/images/icons/lifebuoy.png" style="vertical-align: top; margin-right: 5px;"> If you're having any issues, or have a question about something, please <a href="mailto:help@campuscrusadeforchrist.com" class="issueslink">send us an email. <img src="/images/icons/mail.png" style="vertical-align: top; border: 0px;"></a>
        </td>
      </tr>
    </table>
    <!-- END -->
  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-79392-15");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
