<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>STINT/Internship Application</title>
  <%= javascript_include_tag :defaults %>
  <%= questionnaire_engine_includes %>
  <%= stylesheet_link_tag 'base', 'screen' %>
  <%= stylesheet_link_tag "print", :media => 'print' %>
</head>
<body>

<div id="wrapper">

<div id="status" style="display: none;"><%= image_tag('qe/status.gif', :id => "status-img") %> <span id="status-msg">Please Wait...</span></div>

   <div id="header">
      <h1>apply4stint.com</h1>
   </div>
   
   <div id="main">
     <% if controller.controller_name == "references" && @application && @reference -%>
       <%= hidden_field_tag "submit_to", submit_application_reference_path(@application, @reference) %>
     <% end -%>
     <%= yield %>
   </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-79392-15");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
